.DS_STORE
.idea

# Virtual environments
.venv/
**/.venv/
.venv/bin/
**/.venv/bin/
venv/
**/venv/

# Environment variables
.env
**/.env


# Logs
logs/
**/logs/

# Python bytecode (get_company_ids)
**/**/__pycache__/
